body {
  background-color: rgb(22, 32, 77);
  text-align: center;
  padding: 1px 1px;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  cursor: pointer;
  bottom: 10px;

}

.pagination a {
  padding: 10px;
  /*border-radius: 5px; */
  border: 1px solid #47a7de;
  color: #47a7de;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a{
  color: #fff;
  background: #47a7de;
}

.pagination__link--disabled a{
  color: rgb(198, 197, 202);
  background: #47a7de;
}

